In [1]:
import pandas as pd

In [4]:
df = pd.read_json("html_encodings.json", orient="records", encoding="utf-8")
df.head()

  letter  ascii  utf-8
0   char  ASCII  UTF-8
1           %20    %20
2      !    %21    %21
3      "    %22    %22
4      #    %23    %23

In [5]:
# new_df = pd.read_sql("SELECT * FROM df WHERE ascii != utf-8")
new_df = df.to_sql

TypeError: read_sql() missing 1 required positional argument: 'con'